<?php

namespace ${1:`PhpNameSpace()`};

use Doctrine\Common\DataFixtures\FixtureInterface;
use ${4};

/**
 * `PhpNameSpace()`\$2
 *
 * ${3}
 */
class ${2:`Filename('', 'Data')`} extends AbstractFixture implements OrderedFixtureInterface
{
	public function load($manager)
	{
		${6}
	}

	public function getOrder()
	{
		return ${5};
	}
}

