<?php

namespace ${1:`PhpNameSpace()`};

use Doctrine\Common\DataFixtures\FixtureInterface;
use Doctrine\Common\Persistence\ObjectManager;

use ${2};

/**
 * `PhpNameSpace()`\$3
 *
 * $3 Data fixtures.
 */
class ${3:`Filename()`} implements FixtureInterface
{
    /**
     * {@inheritdoc}
     */
	public function load(ObjectManager $manager)
	{
		${4:// TODO: Add code here lo load fixtures.}
	}
}

