<?php

namespace ${1:`PhpNameSpace()`};

use Doctrine\ORM\Mapping as ORM;

/**
 * $2.
 *
 * ${3}
 *
 * @ORM\Table(name="${4:table_name}")
 * @ORM\Entity${5:(repositoryClass="`PhpNameSpace()`\$2Repository"))}
 */
class ${2:`Filename()`}
{
	${6}
}

